---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_7F3CstkkrabJyg8dToyffi0D
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "count": 1,
          "url": "/v1/plans",
          "data": [
            {
              "interval": "month",
              "name": "Test",
              "amount": 1000,
              "currency": "usd",
              "id": "asd",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": 30
            }
          ]
        }
  recorded_at: Fri, 19 Jul 2013 13:29:34 GMT
recorded_with: VCR 2.5.0
